STRIPE_PUBLISHABLE_KEY=pk_test_replace_with_your_stripe_test_publishable_key
STRIPE_SECRET_KEY=sk_test_replace_with_your_stripe_test_secret_key
R2_ACCOUNT_ID=replace_with_cloudflare_account_id
R2_ACCESS_KEY_ID=replace_with_cloudflare_r2_access_key_id
R2_SECRET_ACCESS_KEY=replace_with_cloudflare_r2_secret_access_key
R2_BUCKET_NAME=creditrepairbusiness
R2_FILE_KEY_PLAYBOOK=The Essential Credit Playbook.zip
R2_FILE_KEY1=20 DEssential Dispute Letter Templates.zip
